<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
{{this.errors}}

    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput type="text" formControlName="email" >

    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>

      <input matInput  type="password" formControlName="password" >

    </mat-form-field>
    <button type="submit"> Connexion </button>
  </form>




</mat-card>
